window#waybar {
    background-color: #1a1a1a;
    border-radius: 6px;
    border: 1px solid #333;
    opacity: 0.9;
    color: #dbe9f4;
}

#custom-nixos {
    margin: 0 8px;
    background-image: url("/home/evanh/dotfiles/waybar/.config/waybar/openSUSE.svg");
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 24px;
    min-height: 24px;
}

#custom-nixos:hover {
    opacity: 0.8;
}

#window {
    background-color: #2ecc71;
    color: #ffffff;
    border-radius: 8px;
    padding: 2px 12px;
    margin: 4px;
}

#workspaces button {
    color: #dbe9f4;
    margin: 4px;
}

#workspaces button:hover {
    background: #34495e;
}

#workspaces button.active {
    background: #4f46e5;
    color: #ffffff;
    border-radius: 6px;
}

#clock {
    color: #bcebd7;
    margin: 3px 8px 4px 0px;
    border-radius: 6px;
    padding: 4px;
}

#temperature.cpu {
    color: #ffffff;
    border-radius: 6px;
    padding: 2px 8px;
    margin: 4px;
}

#temperature.gpu {
    color: #ffffff;
    border-radius: 6px;
    padding: 2px 8px;
    margin: 4px;
}

#temperature.cpu.critical {
    background-color: #e67e22;
    animation: blink 1s linear infinite;
}

#temperature.gpu.critical {
    background-color: #c0392b;
    animation: blink 1s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
